body{
    background-color: #e2e7e6;
}
.below-navbar{
    height: 40px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
}
@media screen and (max-width:550px) {
    .below-navbar ul li{
        display: none;
    }
    
}

.below-navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 10px;
}
.below-navbar li,.left{
    padding:10px;
}
.below-navbar .left{
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 5px;
}

.below-navbar li:hover,.below-navbar .left:hover{
    border: 1px solid white;
    border-radius: 1px;
    cursor: pointer;
}

/* hero section starts here */

.hero-section{
    display: flex;
    align-items:end;
    justify-content:center;
    background-image: url(images/hero_image.jpg);
    height: 330px;
    background-size: cover;
}

.hero-message{
    background-color: white;
    padding: 6px;
    width:95%;
    position: relative;
    text-align: center;
    line-height: 30px;
    font-size: 1rem;
    text-wrap: wrap;
    margin-bottom: 20px;
}
.hero-message a{
    color: #007185;
    text-decoration: none;
}


/* card section starts here */

.main-section{
    width:95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}
@media screen and (max-width:1170px) {
    .main-section{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
}

@media screen and (max-width:930px) {
    .main-section{
        grid-template-columns:1fr 1fr;
        column-gap: 40px;
        row-gap: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
}
@media screen and (max-width:680px) {
    .main-section{
        grid-template-columns:1fr;
        column-gap: 40px;
        row-gap: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
}

.card{
    height: 400px;
    padding:20px;
    background-color: white;
}

.card:hover{
    box-shadow: 0px 0px 20px rgb(202, 202, 202);
    /* background-color: rgb(245, 245, 245); */
    cursor: pointer;
}
.item-title{
    height: 30px;
    width: 100%;
    font-size: 21px;
    font-weight: bold;
}
.item-image{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 280px;
}
.shop-now{
    height: 40px;
    font-size: 13px;
    line-height: 40px;
}
.shop-now a,.sign-in-option .below a{
    text-decoration: none;
    color:#007185;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}


/* sign in card above the footer  */
.sign-in-option{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border:1px solid rgb(221, 221, 221);
    padding-top: 40px;
    padding-bottom: 10px;
}
.sign-in-option .above{
    font-size: 14px;
}
.sign-in-option .below{
    font-size: 11px;
}
.sign-in-option button{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 100px;
    border-radius: 4px;
    border: 1px solid #e6a400;
    background: linear-gradient(#ffd978,#ffc226);
}
.outer-box{
    margin-top: 20px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 20px;
}

.back-to-top{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #37475a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-to-top a{
    color:white;
    text-decoration: none;
    font-size: 13px;
}

.main-footer{
    padding-top: 30px;
    background-color: rgb(35, 47, 62);
    color: white;
    font-size: 14px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 400px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 20px;
    flex-wrap: wrap;
}
@media screen and (max-width:440px) {
    .main-footer{
        padding-left: 50px;
        padding-right: 50px;
    }
    
}
.part{
    height: 80%;
    flex: 1;
    margin-left: 10px;
    margin-top: 30px;
}
#boldList{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.part li{
    margin-bottom: 10px;
    list-style: none;
}
.line{
    height: 1px;
    background-color: #3a4553;
}

.last-section{
    background-color: rgb(35, 47, 62);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.last-logo{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
}

.last-logo img{
    height: 70%;
}
.last-section button{
    background-color: transparent;
    border: 1px solid #848688;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    color: white;
    font-size: 13px;
}
@media screen and (max-width:1200px){
    .hero-message{
        font-size: 0.8rem;
    }
}